<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>머신 로그 정보 분석기["Title"] - MachineInfo</title>
    
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
